* {
    margin: 0;
}

.header {
    height: 70px;
    width: 100%;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    display: flex;
    gap: 30px;
}

.header img {
    height: 70px;
    margin-left: 40px;
    margin-top: 5px;
}

.header a:link {
    margin-top: 25px;
    margin-left: auto;
    margin-right: 50px;
    color: rgb(12, 28, 31);
}

header a:visited {
    color:rgb(39, 150, 170);
}

.séparation1 {
    background-color: rgb(12, 28, 31);
    height: 1px;
    margin-left: 35px;
    margin-right: 35px;
}

.main1{
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    display: flex;
}

.image1 img {
    display: block;
    width: auto;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 50px;
    height: 750px;
}

.texte1 h1 {
    display : block;
    color:rgb(12, 28, 31);
    font-size: 95px;
    margin-top: 320px;
    margin-right: 10px;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.texte1 h2 {
    display : block;
    color: rgb(39, 150, 170);
    font-size: 95px;
    margin-right: 10px;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 30px;

}

.image2 img {
    display: block;
    height: 400px;
    margin-right: 150px;
    margin-bottom: 100px;
    
}

.texte2 {
    background:linear-gradient(90deg, rgb(12, 28, 31), rgb(39, 150, 170));
    height: 350px;
    width: 55%;
    margin-bottom: 5%;
    color: white;
    padding: 20px;
    padding-top:90px;
    font-size: 35px;
    font-family:'Abel', sans-serif;
    text-align : center;
    margin-right: auto;
}

.séparation2 {
    height: 1px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-top: 15px dotted rgb(39, 150, 170);
}

.main3{
    background-color: rgb(12, 28, 31);
    height : 300px;
    margin : 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte3 {
    height: 200px;
    width: auto;
    padding: 20px;
    margin: 30px;
    border: solid 2px rgb(39, 150, 170);
    color: white;
    font-family:'Abel', sans-serif;
}

.texte3 ul {
    font-size: 20px;
}

.texte3:hover {
    background-color: rgb(39, 150, 170);
}

.texte4 {
    background-color:rgb(39, 150, 170);
    height: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

.footer {
    height: 100px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.texte5 {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color:rgb(12, 28, 31);
    margin-right: 45px;
}

.site-internet img {
    width: 40%;
    margin: 30px;
}

.instagram img {
    width: 40%;
    margin-right: 30px;
}

.facebook img {
    width: 50%;
    margin: 20px;
}

.linkedin img {
    width: 50%;
    margin-left: 40px;
}

.twitter img {
    width: 50%;
    margin-left: 50px;
}

.pinterest img {
    width: 15%;
    margin-left: 50px;
}

#coloris-prix {
}

#caractéristiques {
}

#autres{
}

#contact{
}

html, body {
    scroll-behavior: smooth;
}
